
<div>
  <canvas id="myChart" width="20px" height="10px" ></canvas> 
</div>


event : <%= @eventId = params[:eventId] %> <br>
saison : <%= @saisonId = params[:saisonId] %> <br>
division : <%= @divisionId = params[:divisionId] %> <br>
numgp : <%= @numeroGp = params[:numGp] %> <br>

<hr>
<% @listeGp = Event.saison_courant(@saisonId).division_courant(@divisionId).numero_until_courant(@numeroGp) %>

 <% @listeGp.each do | gp | %>
    <%#= gp.numero %>
 <% end %>

<hr>
 <%= @pilotesActifDiv.to_json %>

<% @data = [2, 4, 3, 10] %>
 

 <hr>


<script>

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['gp1', 'gp2', 'gp3', 'gp4'],
        datasets: [{
          /* label: '# of Votes', */
            data: <%= @data.to_json.html_safe %>,
          
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>