
<body style="background-color: #313130;">

 <br/> 
 <h1 class="titre_doc"> Classement Pilotes </h1>  
 <br> <br>

 <%# haut de page depuis partial %>
 <%= render "shared/hautpdf" %>

 <%#= tableau data classement %>
 <% if (@eventId).blank? %>
 <% else %>
  <% @numGp = Event.find(@eventId).numero   %>
    <table style="margin-left:auto;margin-right:auto">
      <thead class="table-dark">
       
          <th class="th_doc">#</th>
          <th class="th_doc">Pilote</th>
          <th class="th_doc">Points</th>
          <th class="th_doc">+-</th>
         
       
      </thead>
  
      <tbody>
        <tr>
          <% @classements.order(:position).limit(20).each do | classement | %>
            <td class="cols_pos_score" >  <%= classement.position %></td>
             <td> 
                 <div class="contenant">
                    <% equipeId = Pilote.find(classement.pilote_id).ecurie %>  
                    <% nomPilote = Pilote.find(classement.pilote_id).nom %> 
                    <%= image_tag Equipe.find(equipeId).logo, style: "width: 300px; display: block", class: "img-fluid rounded" %>
                      <div class="texte_centrer">
                        <%= nomPilote %> 
                      </div>
                  </div>
              </td>

             <td class="cols_pos_score">  <%= number_with_precision(classement.score, precision: 0) %>  </td>

            <% precedentGpNum = @numGp - 1 %>
            <% if precedentGpNum > 0 %>
              <% precedentGpId = Event.where(numero: precedentGpNum, saison_id: @saisonId, division_id: @divisionId).first.id %>

                <% if Classement.where(event_id: precedentGpId, pilote_id: classement.pilote_id).present? %>
                  <% rankN_1 = Classement.where(event_id: precedentGpId, pilote_id: classement.pilote_id).first.position %>
                <% else %>
                   <% rankN_1 = 20 %>
                <% end %>

                <% @valDeltaRank = rankN_1.to_i - classement.position.to_i %>

                 <td class="cols_hide">
                  <% if @valDeltaRank >= 0 %>
                      <strong style="color:green;">
                      <%= sprintf("%+d", @valDeltaRank) %>
                      </strong>
                    <% else %>
                      <strong style="color:red">
                        <%= sprintf("%+d", @valDeltaRank) %>
                      </strong>
                    <% end %>   
                 </td>
             <% else %>
             <td></td>
           <% end %>
        </tr>
        <% end %>
      </tbody>
  </table>

  <%# bas de page depuis partial %>
  <%= render "shared/baspdf" %>

 <% end %>

</body>