
<% if user_signed_in? %>
  <h1>Classements Pilotes</h1>  <br/>

  <%= render "shared/choixevent" %>

  <% if (@eventId).present? %>

    <%# tempo test val max %>
    
  <% @numGp = Event.find(@eventId).numero   %>

    <%= render "shared/eventactif" %>

    <%# boutons crea classement %>
    <%= link_to "Créer classement", toggle_creerclassements_classement_path(@eventId), class:"btn btn-warning", style:"margin: 2px"  %>
    <%= link_to "Update classement", toggle_updateclassements_classement_path(@eventId), class:"btn btn-primary", style:"margin: 2px" %>
    <%= link_to "Supprimer classement", toggle_supprimerclassements_classement_path(@eventId), class:"btn btn-danger", style:"margin: 2px"%>
    <%= link_to "Trier classement", toggle_triclassements_classement_path(@eventId), class:"btn btn-secondary", style:"margin: 2px"%>
 
   <br><br>
    <%#= max points : <%= Classement.saison_courant(@saisonId).division_courant(@divisionId).numero_until_courant(@numGp).max_points.score.to_i %>
    
    <%#= tableau data classement %>

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th style="text-align: center;">#</th>
          <th>Pilote</th>
           <th>Ecurie</th>
          <th style="text-align: center;">total</th>
           <th>nb p1</th>
          <th>nb p2</th>
          <th>nb p3</th>
          <th>nb p4</th>
          <th>nb p5</th>

        </tr>
      </thead>

      <tbody>
        <tr>
        <% @classements.order(:position).each do | classement | %>
            <td class="col_centree">  <%= classement.position %></td>
            <td> <%= Pilote.find(classement.pilote_id).nom %>  </td>
             <td> 
                  <% idEcurie = Pilote.find(classement.pilote_id).ecurie %>  
                  <% nomEcurie = Equipe.find(idEcurie).nom %> 
                  <%= nomEcurie %>
                  <% if Equipe.find(idEcurie).logo.present? %>
                      <%= image_tag Equipe.find(idEcurie).logo, style: "width: 300px; display: block", class: "img-fluid rounded" %>
                  <% end %>
                </td>
            <td class="col_centree">  <%= number_with_precision(classement.score, precision: 0) %>  </td>
            <td> <%= classement.nb_p1 %> </td>
            <td> <%= classement.nb_p2 %> </td>
            <td> <%= classement.nb_p3 %> </td>
            <td> <%= classement.nb_p4 %> </td>
            <td> <%= classement.nb_p5 %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <br/> <hr/>
        
    <%# PDF event actif %>
    <% numGp = Event.find(@eventId).numero %>
    <%= link_to "PDF",  classements_path(saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, numGp: numGp, format: :pdf), class:"btn btn-dark" %>

   <% end %>

<% else %>
  <br/>   <strong>Vous n'avez pas les droits...</strong>
<% end %>

<br><br> <hr> <br>


<%# TEST PARTIE BIS VIRTUELLE %>

<strong> Partie bis viturelle  </strong>

<br>
 <% if (@eventId).present? %>
   <%#= link_to "Update classement", toggle_updateclassementsbis_classement_path(@eventId), class:"btn btn-primary", style:"margin: 2px" %>
   <%#= link_to "trier classement", toggle_trierclassementsbis_classement_path(@eventId), class:"btn btn-success", style:"margin: 2px" %>

<% end %>
<br>
   <%#= tableau data classement %>

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
         
           <th style="text-align: center;">#</th>
          <th>Pilote</th>
           <th>Ecurie</th>
          <th style="text-align: center;">total</th>
          <th>points</th>
          <th>nb p1</th>
          <th>nb p2</th>
          <th>nb p3</th>
          <th>nb p4</th>
          <th>nb p5</th>
        </tr>
      </thead>

      <tbody>
        <tr>
        <% @pilotesActifDiv.order_score.all.each do | pilote | %>
           
            <td> <%#= pilote.rang_n0 %> </td>
            <td>  <%#= Pilote.find(pilote.id).nom %> </td>
            <td>  <%#= Equipe.find(pilote.ecurie).nom %> </td>
            <td> <%#= Resultat.pilote_courant(pilote.id).division_courant(@divisionId).saison_courant(@saisonId).numero_until_courant(@numGp).sum(:score) %> </td>
            <td> <%#= pilote.points %> </td>
            <td> <%#= pilote.nb_p1  %> </td>
            <td> <%#= pilote.nb_p2  %> </td>
            <td> <%#= pilote.nb_p3  %> </td>
            <td> <%#= pilote.nb_p4  %> </td>
            <td> <%#= pilote.nb_p5  %> </td>
     
        </tr>
        <% end %>
      </tbody>
    </table>