
<% if user_signed_in? %>

<div> 
  <table class="table_icon_titre">
    <tr>
     <br>
      <th class="fa-solid fa-ranking-star fs-1 table_icon_titre"> </th>
      <th class="table_icon_titre"> &nbsp;|&nbsp;Classements Pilotes </th>
    </tr>
  </table>
</div>
<br>

  <%= render "shared/choixevent" %>

  <% if (@eventId).present? %>

    <%# tempo test val max %>
    
  <% @numGp = Event.find(@eventId).numero   %>

    <%= render "shared/eventactif" %>

     <%= render "chart7" %> 
    <hr>

       <% if current_user.admin? %>

         <%# boutons crea classement %>
         <%= link_to "Créer", toggle_creerclassements_classement_path(@eventId), class:"btn btn-sm btn-warning", style:"margin: 2px"  %>
         <%= link_to "Update", toggle_updateclassements_classement_path(@eventId), class:"btn btn-sm btn-primary", style:"margin: 2px" %>
         <%= link_to "Trier", toggle_triclassements_classement_path(@eventId), class:"btn btn-sm btn-secondary", style:"margin: 2px"%>
         <%= link_to "Supprimer", toggle_supprimerclassements_classement_path(@eventId), class:"btn btn-sm btn-danger", style:"margin: 2px"%>
         <%= link_to "Image", documentedition_classements_path(saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, numGp: @numGp, format: :png), class:"btn btn-sm btn-success" %>
         <br>
      <% end %>


<hr>

    <%#= tableau data classement %>

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th style="text-align: center;">#</th>
          <th>Pilote</th>
          <th>Ecurie</th>
          <th style="text-align: center;">total</th>

         <%# <th>rank n-1</th> %>
          <th style="text-align: center;">+ - </th>

        </tr>
      </thead>

      <tbody>
        <tr>
        <% @classements.order(:position).limit(20).each do | classement | %>
            <td class="col_centree">  <%= classement.position %></td>
            <td> <%= Pilote.find(classement.pilote_id).nom %>  </td>
             <td> 
                  <% idEcurie = Pilote.find(classement.pilote_id).ecurie %>  
                  <% nomEcurie = Equipe.find(idEcurie).nom %> 
                  <% nomEcurie %>
                  <% if Equipe.find(idEcurie).ecusson.present? %>
                      <%= image_tag Equipe.find(idEcurie).ecusson, style: "width: 50px; display: block", class: "img-fluid rounded" %>
                  <% end %>
              </td>

            <td class="col_centree">  <%= number_with_precision(classement.score, precision: 0) %>  </td>

            <% precedentGpNum = @numGp - 1 %>
            <% if precedentGpNum > 0 %>
              <% precedentGpId = Event.where(numero: precedentGpNum, saison_id: @saisonId, division_id: @divisionId).first.id %>

                <% if Classement.where(event_id: precedentGpId, pilote_id: classement.pilote_id).present? %>
                  <% rankN_1 = Classement.where(event_id: precedentGpId, pilote_id: classement.pilote_id).first.position %>
                <% else %>
                   <% rankN_1 = 20 %>
                <% end %>

               <% @valDeltaRank = classement.position.to_i - rankN_1.to_i %>
               
                <td class="col_centree">
                  <% if @valDeltaRank <= 0 %>
                      <strong class="col_rank_gain">
                      <%= sprintf("%+d", @valDeltaRank) %>
                      </strong>
                    <% else %>
                      <strong class="col_rank_perte">
                        <%= sprintf("%+d", @valDeltaRank) %>
                      </strong>
                    <% end %>   
                 </td>
             <% else %>
             <td></td>
           <% end %>
        </tr>
        <% end %>
      </tbody>
    </table> <hr/>
        
   <% end %>

<% else %>
  <br/>   <strong>Vous n'avez pas les droits...</strong>
<% end %>

<br>
