<%= form_with(model: pari) do |form| %>
  <% if pari.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pari.errors.count, "error") %> prohibited this pari from being saved:</h2>

      <ul>
        <% pari.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div>
      <%= form.label :event, style: "display: block" %>
      <%= form.select(:event_id, options_from_collection_for_select(
                  @event,'id', 'date', 
                 :selected => @eventId), 
                 :include_blank => true) %>  
    </div>
      <br>

       <div>
       

     <% @parieurId = Pilote.where(user_id: current_user.id).first.id %>
        <%#= form.label :parieur, style: "display: block" %>
        <%#= form.select(:parieur_id, options_from_collection_for_select(
                      @parieur,'id', 'nom', 
                    :selected => @parieur), 
                    :include_blank => true) %>

       <%= form.hidden_field(:parieur_id, value: @parieurId) %>        
          
    </div>




  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_pari_path, 
        formmethod: :get, data: {turbo_frame: :montant_field, 
        form_element_target: "submitbtn"} %>

  </div>
  

    <%= turbo_frame_tag :montant_field do %>
       <div>
       
      
         <% @eventId = form.object.event_id %>
          <% if @eventId.present? %>
            <% @eventNum = Event.find(@eventId).numero %>
            <% @divisionId = Event.find(@eventId).division_id %>
            <% @saisonId = Event.find(@eventId).saison_id %>
          <% end %>
     
              <%# val solde parieur %> 
         <% parieurId = Pilote.where(user_id: current_user.id).first.id %>
           <%#= form.text_field(:parieur_id, value: @parieurId) %>        
         <%# if parieurId.present?%>
           <%# parieurSolde =  Pari.saison_courant(@saisonId).division_courant(@divisionId).numero_until_courant(@eventNum).pilote_courant(parieurId).sum(:solde) %>
       
          
         <%# end %>  
        <%#= form.text_field :montant, value: parieurSolde %>
     
    </div>
  <% end %>




  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_pari_path, 
        formmethod: :get, data: {turbo_frame: :cote_field, 
        form_element_target: "submitbtn"} %>
      <div>
        <%= form.label :coureur, style: "display: block" %>
        <%= form.select(:coureur_id, options_from_collection_for_select(
               @coureur,'id', 'nom', :selected => form.object.coureur_id), 
              {include_blank: true}, 
              {data: { action: "change->form-element#remotesubmit"}}) %>
      </div>
       <br>
      <div>
        <%= form.label :montant, style: "display: block" %>
        <%= form.number_field :montant, 
              {data: { action: "change->form-element#remotesubmit"}} %>
      </div>
       <br>
      <div>
        <%= form.label :paritype, style: "display: block" %>
        <%= form.select(:paritype, Pari.paritypes.keys, 
              {include_blank: true}, 
              {data: { action: "change->form-element#remotesubmit"}}) %>
      </div>
   <br>
  </div>

  <%= turbo_frame_tag :cote_field do %>
    <div>
        <% if form.object.coureur_id.present? %>
          <% if form.object.paritype.present? %>
            <%# valCote = Classement.find(5).cote_victoire %>
            <% piloteId = form.object.coureur_id %>
            <% eventId =  form.object.event_id %>
            <% divisionId = Event.find(eventId).division_id %>
            <% saisonId = Event.find(eventId).saison_id %>
            <%# trouver le num event du gp num precedent %>
            <%# gérer exception pour gp 1 plus tard %>

            <% numGp = Event.find(eventId).numero %>
            <% numGp_prec = numGp - 1 %>
            <% eventId_prec = Event.find_by(saison_id: saisonId, division_id: divisionId, numero: numGp_prec).id %>

            <% typepari = form.object.paritype %>
            <% @montantPari = form.object.montant %>
              <% if typepari == "victoire" %>
                <% @valCote = Classement.all.where(event_id: eventId_prec, pilote_id: piloteId).first.cote_victoire %>
              <% end %>
               <% if typepari == "podium" %>
                <% @valCote = Classement.all.where(event_id: eventId_prec, pilote_id: piloteId).first.cote_podium %>
              <% end %>
             <% if typepari == "top10" %>
                <% @valCote = Classement.all.where(event_id: eventId_prec, pilote_id: piloteId).first.cote_top10 %>
              <% end %>
                <div> cote retenue | <strong>  <%= @valCote %> </strong>  </div>
                <div> gains possibles | <strong>  <%= @valCote * form.object.montant %> </strong>  </div>
                <div> montant parié  | <strong>  <%=  form.object.montant %> </strong>  </div>


                
                <br>
          <% end %>
        <% end %>
        <%# valCote = valCote %> 
        <% form.label :cote, style: "display: block" %>
        <%= form.text_field :cote, value: @valCote %>
        <br>
        <%= form.number_field :solde, value: - form.object.montant  %>

     


    </div>
  <% end %>


<br>




  <br/>

  <div>
     <%= form.submit "Valider", class:"btn btn-success" %>
  </div>
<% end %>