<div id="<%= dom_id pari %>">

  <p>
    <strong>Event:</strong>
    <%= pari.event_id %>
  </p>

  <p>
    <strong>Parieur:</strong>
    <%= pari.parieur.nom %>
  </p>

  <p>
    <strong>Coureur:</strong>
    <%= pari.coureur.nom %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pari.paritype %>

  </p>

  <p>
    <strong>Montant:</strong>
    <%= pari.montant %>
  </p>

  <p>
    <strong>Cote:</strong>
    <%= number_with_precision(pari.cote, precision: 2) %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <%= pari.resultat %>
  </p>

  <p>
    <strong>Solde:</strong>
    <%= pari.solde %>
  </p>

</div>
