<div id="<%= dom_id pari %>">

  <p>
    <strong>Event:</strong>
    <% pari.event_id %>
    <%= Event.find(pari.event_id).formatted_name_bis %>
  </p>

  <p>
    <strong>Parieur:</strong>
    <%= pari.parieur.nom %>
  </p>

  <p>
    <strong>Coureur:</strong>
    <%= pari.coureur.nom %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pari.paritype %>

  </p>

  <p>
    <strong>Montant:</strong>
    <%= pari.montant %>
  </p>

  <p>
    <strong>Cote:</strong>
    <%= number_with_precision(pari.cote, precision: 2) %>
  </p>

   <p>
    <strong>Manuel:</strong>
    <%= pari.manuel %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <% valResultat = pari.resultat %>

        <% if valResultat == true %>
           <i class="fa-solid fa-circle-check fa-xl" style="color:green"></i>
        <% else %>
           <i class="fa-solid fa-circle-xmark fa-xl" style="color:red"></i>
        <% end %>   
  </p>

  <p>
    <strong>Solde:</strong>
    <%= pari.solde %>
  </p>

</div>
