<div id="<%= dom_id pari %>">

  <p>
    <strong>Event:</strong>
    <% pari.event_id %>
    <%= Event.find(pari.event_id).formatted_name_bis %>
  </p>

  <p>
    <strong>Parieur:</strong>
    <%= pari.parieur.nom %>
  </p>

  <p>
    <strong>Coureur:</strong>
    <%= pari.coureur.nom %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pari.paritype %>

  </p>

  <p>
    <strong>Montant:</strong>
    <%= pari.montant %>
  </p>

  <p>
    <strong>Cote:</strong>
    <%= number_with_precision(pari.cote, precision: 2) %>
  </p>

   <p>
    <strong>Manuel:</strong>
    <%= pari.manuel %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <% valResultat = pari.resultat %>

        <% if valResultat == true %>
           <i class="fa-solid fa-circle-check fa-xl" style="color:green"></i>
        <% else %>
           <i class="fa-solid fa-circle-xmark fa-xl" style="color:red"></i>
        <% end %>   
  </p>

  <p>
    <strong>Solde:</strong>
    <%= pari.solde %>
  </p>


  <% if current_user.admin? %>
    <strong> étapes calcul pari: </strong> <br>
    type pari : <%= pari.paritype %> <br>
    
      <% if Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).present? %> 
       resultat course : <%= Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.course %> <br>
       statut dns : <%= Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.dns %> <br>
       pari event id : <%= pari.event_id %> <br>
       resultat event id : <%= Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.event_id %> <br>
       <% if Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.dns == false %>
          <% if pari.paritype == "victoire" && Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.course == 1  %>
            pari sur p1 gagné
          <% else %>
            <% if pari.paritype == "podium" && Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.course <= 3  %>
              pari sur podium gagné
            <% else %>
              <% if pari.paritype == "top10" && Resultat.where(event_id: session[:event], pilote_id: pari.coureur.id).first.course <= 10  %>
                pari sur top10 gagné
              <% else %>
                pari perdu 
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      <% else %>
       pas de resultat present pour ce pari 
      <% end %>
     <br> <br>

  <% end %>


</div>
