<div id="<%= dom_id pari %>">

  <p>
    <strong>Event:</strong>
    <%= pari.event_id %>
  </p>

  <p>
    <strong>Parieur:</strong>
    <%= pari.parieur %>
  </p>

  <p>
    <strong>Coureur:</strong>
    <%= pari.coureur %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pari.typepari %>

  </p>

  <p>
    <strong>Montant:</strong>
    <%= pari.montant %>
  </p>

  <p>
    <strong>Cote:</strong>
    <%= pari.cote %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <%= pari.resultat %>
  </p>

  <p>
    <strong>Solde:</strong>
    <%= pari.solde %>
  </p>

</div>
