
<body style="background-color: #313130;">

  <br>
  <h1 class="titre_doc"> Parieurs </h1>   <br><br>

  <%# haut de page depuis partial %>
  <%= render "shared/hautpdf" %>
  <% @numGp = Event.find(@eventId).numero   %>



<% @parisEventNew = Parieur.where(event_id: @eventId).order(:cumul).reverse %>

  <table style="margin-left:auto;margin-right:auto">
    <thead class="table-dark">
      <tr>  
        <th class="th_doc">#</th>
        <th class="th_doc">parieur</th>
        <th class="th_doc">cumul</th>
      </tr>
    </thead>
      <tbody>
         
           <tr>
            <% @parisEventNew.each_with_index do | parieur, i | %> 

              <td class="cols_pos_score">  <strong>  <%= (i+1) %>   </strong>  </td>
            
              <td>  
                  <div class="contenant">
                    <% idPilote = parieur.pilote_id %> 
                    <% idEcurie = Pilote.find(idPilote).ecurie %> 
                    <% nomPilote = Pilote.find(idPilote).nom %> 
                      <%= image_tag Equipe.find(idEcurie).logo, style: "width: 300px; display: block", class: "img-fluid rounded" %>
                            <div class="texte_centrer">
                              <%= nomPilote %>
                            </div>
                        </div>
              </td> 
               
              <td class="cols_pos_score_wide">
            
                 <%#= number_with_precision(parieur.cumul, precision: 2) %> 
                 <%=  number_with_delimiter(parieur.cumul, delimiter: ' ', precision: 0) %>
              </td>
              
          
           
          </tr>
     <% end %>
    </tbody>
  </table>

  <%# bas de page depuis partial %>
  <%= render "shared/baspdf" %>

</body>
