
<% if user_signed_in? %>

<div> 
  <table class="table_icon_titre">
    <tr>
     <br>
      <th class="fa-solid fa-money-bill-1-wave fa-xl fs-1 table_icon_titre"> </th>
      <th class="table_icon_titre"> &nbsp;|&nbsp;Parieurs </th>
    </tr>
  </table>
</div>

   <hr/> 
  
  <%= render "shared/choixevent" %>

  <% if (@eventId).present? %>
    <%= render "shared/eventactif" %>
        <% if current_user.admin? %>
          <%# Doc event actif %>
          <% numGp = Event.find(@eventId).numero %>
                  
           <%= link_to "Créer", toggle_creerparieurs_parieur_path(@eventId), class:"btn btn-sm btn-warning", style:"margin: 2px"  %>
           <%= link_to "Update", toggle_updateparieurs_parieur_path(@eventId), class:"btn btn-sm btn-primary", style:"margin: 2px" %>
           <%#= link_to "Trier", toggle_triclassements_classement_path(@eventId), class:"btn btn-sm btn-secondary", style:"margin: 2px"%>
           <%= link_to "Supprimer", toggle_supprimerparieurs_parieur_path(@eventId), class:"btn btn-sm btn-danger", style:"margin: 2px", :onclick => "return confirm('Sûr ?')" %>

        
          <%= link_to "Image", documentedition_parieurs_path(saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, numGp: @numGp, format: :png), class:"btn btn-sm btn-success" %>
       
          <br><br>
        <% end %>


<%#tab data new %>

<% @parisEventNew = Parieur.where(event_id: @eventId).order(:cumul).reverse %>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>  
          <th style="text-align: center;">#</th>
          <th colspan=2>parieur</th>
          <th>cumul</th>
        </tr>
      </thead>
        <tbody>
            <% @parisEventNew.each_with_index do | parieur, i | %> 
            <tr>
              <td class="col_centree"> <%= i + 1 %>  </td>
              <td> <%= Pilote.find(parieur.pilote_id).nom %> </td>
              <td>
                <% idEcurie = Pilote.find(parieur.pilote_id).ecurie %>  
                <%= image_tag Equipe.find(idEcurie).ecusson, style: "width: 50px; display: block", class: "img-fluid rounded" %>
              </td>
              <td class="col_centree">
                  <%#= number_with_precision(parieur.cumul, precision: 2, separator: ".") %> 
                   <%=  number_with_precision(parieur.cumul, delimiter: ' ', precision: 0) %>
              </td>
              
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>


  <% end %>
<% else %>
     <%= render "shared/demandeconnexion" %>
<% end %>