
<br/>
<h1 class="fa-solid fa-money-bill-1-wave fa-2xl fw-bold fs-1"> - Parieurs </h1>   
<br/> <hr/> 
 
<%= render "shared/choixevent" %>


<% if (@eventId).present? %>
  <%= render "shared/eventactif" %>



<%# tab datas %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>  
        <th>#</th>
        <th>parieur</th>
        <th>cumul</th>
      </tr>
    </thead>
      <tbody>
          <% @parisEvent.each_with_index do | pari, i | %> 
           <tr>
             <td> <%= i + 1 %>  </td>
             <td> <%= Pilote.find(pari[0]).nom %> </td>
             <td> <%= 1000 + pari[1] %> </td>
            
          </tr>
         <% end %>
    </tbody>
  </table>
</div>

    <%# PDF event actif %>
    <% numGp = Event.find(@eventId).numero %>
    <%= link_to "PDF",  parieurs_path(saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, numGp: numGp, format: :pdf), class:"btn btn-dark" %>


<% end %>
