<%= form_with(model: circuit) do |form| %>
  <% if circuit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(circuit.errors.count, "error") %> prohibited this circuit from being saved:</h2>

      <ul>
        <% circuit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :pays, style: "display: block" %>
    <%= form.text_field :pays %>
  </div>
    <br/>

  <div class="field">
    <%= form.label :drapeau %>
    <%= form.file_field :drapeau %>
  </div>

  <div class="field">
    <%= form.label :carte %>
    <%= form.file_field :carte %>
  </div>

  <div>
  <br/>
    <%= form.submit "Valider", class:"btn btn-success" %>
  </div>
<% end %>
