 <% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@circuit.latitude%>, <%=@circuit.longitude%>)
    });
    </script>
<% end %>
 
 <% if user_signed_in? %>

  <br>

    <%= render @circuit %>

    <%= image_tag(@circuit.drapeau, style: "width: 100px; display: block", class: "img-fluid rounded") if @circuit.drapeau.attached? %>
      <br/><hr/><br/>
    <%= image_tag(@circuit.carte, style: "width: 100px; display: block", class: "img-fluid rounded") if @circuit.carte.attached? %>

<hr>

<div class="card" style="width: 90%;">

  <iframe style="border: 0;" src="https://www.google.com/maps/embed/v1/search?key=<%= ENV["MAPS_API_KEY2"] %> 
    &q=<%= @circuit.nom %>
    &zoom=14&maptype=satellite" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen">
</iframe>
  <div class="card-body">
    <% if @data["weather"].present?  %>
      <h6 class="card-title">Météo du  <%= Date.today.strftime('%d/%m/%y') %> </h6>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> 

      <table>
        <tr>
          <th> 
            <img src="https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"]%>@2x.png" />
          </th>
          <th>
            <%= @data["weather"].first["description"] %> <br>
            <%= number_with_precision(@data["main"]["temp"], precision: 1) %> ° C <br>
          </th>
          <th  style="padding:10px">
            <%= @data["main"]["pressure"] %> hPa  <br>
            <%= @data["main"]["humidity"] %> % humidité  <br>
          </th>
          <th style="padding:10px">
            <%= @data["wind"]["speed"] %> m/s  <br>
            <%= @data["wind"]["deg"] %> ° direction
          </th>

        </tr>
      </table>
      </li>
    </ul>

    <% end %>

</div>

<hr>

    <div>
     <%= link_to "", circuits_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary" %>
         <br/> <br/>
    <% if current_user.admin? %>
      <table>
        <tr>
          <td>
            <%= link_to "", edit_circuit_path(@circuit), class:"fa-regular fa-pen-to-square btn btn-primary" %>
          </td>
          <td> | </td>
          <td>
          <%= button_to "", @circuit, class:"fa-solid fa-trash-can btn btn-danger", method: :delete %>
          </td>
        </tr>
      </table>
    <% end %>
<% else %>
  <br/>
  <strong>Vous n'avez pas les droits...</strong>
<% end %>