 <% if user_signed_in? %>

    <p style="color: green"><%= notice %></p>

    <%= render @circuit %>

    <%= image_tag(@circuit.drapeau, style: "width: 200px; display: block", class: "img-fluid rounded") if @circuit.drapeau.attached? %>
      <br/><hr/><br/>
    <%= image_tag(@circuit.carte, style: "width: 200px; display: block", class: "img-fluid rounded") if @circuit.carte.attached? %>

    <div>
     <%= link_to "", circuits_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary" %>
         <br/> <br/>
    <% if current_user.admin? %>
      <table>
        <tr>
          <td>
            <%= link_to "", edit_circuit_path(@circuit), class:"fa-regular fa-pen-to-square btn btn-primary" %>
          </td>
          <td> | </td>
          <td>
          <%= button_to "", @circuit, class:"fa-solid fa-trash-can btn btn-danger", method: :delete %>
          </td>
        </tr>
      </table>
    <% end %>
<% else %>
  <br/>
  <strong>Vous n'avez pas les droits...</strong>
<% end %>