<div id="<%= dom_id reglement %>">
  <p>
    <strong>Version:</strong>
    <%= reglement.version %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= reglement.titre %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= reglement.numero %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reglement.description %>
  </p>

  <p>
    <strong>Penalite:</strong>
    <%= reglement.penalite %>
  </p>


  <p>
    <strong>Penalite temps:</strong>
    <%= reglement.penalitetemps %>
  </p>

</div>
