<%= form_with(model: rapportdoi) do |form| %>
  <% if rapportdoi.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rapportdoi.errors.count, "error") %> prohibited this rapportdoi from being saved:</h2>

      <ul>
        <% rapportdoi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%#= form.text_field :event_id %>
    <%= form.select(:event_id, options_from_collection_for_select(
                      @event,'id', 'formatted_name_bis', 
                    :selected => @eventId), 
                    :include_blank => true )%>
  </div>
  <br>

  <div>
    <%= form.label :pilote_id, style: "display: block" %>
    <%#= form.text_field :pilote_id %>
    <%= form.select :pilote_id, @pilotes.all.collect { | pilote | [pilote.nom, pilote.id] },
              {include_blank: true} %>
  </div>
  <br>

  <div>
    <%= form.label :responsable_commissaire, style: "display: block" %>
    <%#= form.text_field :responsable %>
    <%= form.select :responsable_commissaire, @pilotes.all.collect { | pilote | [pilote.nom, pilote.id] },
              {include_blank: true} %>
  </div>
  <br>




  <div data-controller="form-element">
    <%= form.button "Validate", formaction: new_rapportdoi_path(), 
        formmethod: :get, data: { turbo_frame: :penalitelicence_field, form_element_target: "submitbtn" } %>
    <div>
      <%= form.label :article_enfreint, style: "display: block" %>
      <%= form.number_field :reglement_id, { data: { action: "change->form-element#remotesubmit"}, class:"text-center"} %>
    </div>
  </div>

  <%= turbo_frame_tag :penalitelicence_field do %>
    test valeur article enfreint: <%= articleId = form.object.reglement_id %>
    <% valPenalite = form.object.reglement_id %>
    <%= form.label :penalite_licence, style: "display: block" %>
    <%= form.number_field :penalitelicence, value: valPenalite %>
    
    <div>
      <%= form.submit "Valider", class:"btn btn-success" %>
  </div>
  <% end %>
</div>
  <br>

  <div>
    <%= form.label :penalite_temps, style: "display: block" %>
    <%= form.number_field :penalitetemps %>
  </div>

  <br>
  <div>
    <%= form.label :commentaire, style: "display: block" %>
    <%= form.text_area :commentaire %>
  </div>

</div>


<% end %>
