<div id="<%= dom_id rapportdoi %>">
  <p>
    <strong>Event:</strong>
    <%= Event.find(rapportdoi.event_id).formatted_name_bis %>
  </p>

  <p>
    <strong>Pilote:</strong>
    <%= Pilote.find(rapportdoi.pilote_id).nom %>
  </p>

  <p>
    <strong>Responsable commissaire:</strong>
    <%= Pilote.find(rapportdoi.responsable).nom if rapportdoi.responsable.present? %>
  </p>

  <p>
    <strong>Article enfreint:</strong>
    <%= rapportdoi.reglement_id %>
  </p>

  <p>
    <strong>Penalite licence:</strong>
    <%= rapportdoi.penalitelicence %>
  </p>

  <p>
    <strong>Penalite temps:</strong>
    <%= rapportdoi.penalitetemps %>
  </p>

  <p>
    <strong>Commentaire:</strong>
    <%= rapportdoi.commentaire %>
  </p>

</div>
