<% if user_signed_in? %>

  <h1>Rapports DOI</h1>

  <div id="rapportdois">

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>  
            <th>#</th>
            <th>Demandeur</th>
            <th>Impliqué</th>
            <th>Event</th>
            <th>Infraction</th>
            <th>Sanction</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @rapportdois.each do |rapport| %> 
            <tr>
              <td> <%= rapport.id  %> </td>
              <td> <%= Pilote.find(rapport.demandeur).nom if rapport.demandeur.present? %> </td>
              <td> <%= Pilote.find(rapport.pilote_id).nom if rapport.pilote_id.present? %> </td>
              <td> <%= Event.find(rapport.event_id).formatted_name_bis %> </td>
              <td>
                <% if rapport.reglement_id.present? %>
                  <%= Reglement.find(rapport.reglement_id).numero %> | <%= Reglement.find(rapport.reglement_id).titre %> </td>
                <% end %>
              <td> <%= rapport.penalitelicence %> pts | <%= rapport.penalitetemps %> sec</td>
              
              <td> <%= link_to '', rapport, class:"fa-solid fa-eye btn btn-primary btn-sm" %>  </td>
                <% if current_user.admin? %>
                  <td> <%= button_to '', rapport, class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete, :onclick => "return confirm('Sûr ?')" %>  </td> 
                  <td> <%= link_to "", edit_rapportdoi_path(rapport), class:"fa-regular fa-pen-to-square btn btn-secondary btn-sm" %> </td> 
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <br>
  
  <% if current_user.admin? %>
    <%= link_to "Nouveau rapport", new_rapportdoi_path, class:"btn btn-success" %>
  <% end %>
<% end %>