<br>

<%= render @rapportdoi %>

  <% if current_user.admin? %>
    <table> 
      <tr>
        <td>
          <%= link_to "", edit_rapportdoi_path(@rapportdoi), class:"fa-regular fa-pen-to-square btn btn-primary" %>
        </td>   
        <td> | </td> 
        <td>  
          <%= button_to "", @rapportdoi, class:"fa-solid fa-trash-can btn btn-danger", method: :delete, :onclick => "return confirm('Sûr ?')"  %>
        </td> 
      </tr>
    </table>

    <% @eventId = @rapportdoi.event_id %>
    <% @saisonId = Event.find(@eventId).saison_id %>
    <% @divisionId = Event.find(@eventId).division_id %>
    <% numGp = Event.find(@eventId).numero %> <br>

    <%= link_to "Générer image", documentedition_rapportdois_path(
                rapportdoiId: @rapportdoi.id, saisonId: @saisonId, divisionId: @divisionId, eventId: @eventId, numGp: numGp, 
                format: :png), class:"btn btn-sm btn-success" %> 
  <% end %>

 <br><br>
  <%= link_to "", rapportdois_path(), class:"fa-solid fa-arrow-rotate-left btn btn-secondary" %> <br>
