
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
    
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100%;
        height: 5%;
       /* background: rgba(255, 26, 104, 0.2);*/
       /* display: flex; */
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 100;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        border: solid 2px rgba(50, 50, 50, 1);
        background: white;
      }
    </style>


    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>
      <div class="chartBox">
        <canvas id="myChartLine"></canvas>
      </div>
      <div class="chartBox">
        <canvas id="myChartBar"></canvas>
      </div>
    </div>

<% @piloteId = params[:id] %>

<% @nbVictoire = Resultat.pilote_courant(@piloteId).compte_p1 %>
<% @nbPodium = Resultat.pilote_courant(@piloteId).compte_podium %>
<% @nbTop5 = Resultat.pilote_courant(@piloteId).compte_top5 %>
<% @nbTop10 = Resultat.pilote_courant(@piloteId).compte_top10 %>

<% @data = [@nbVictoire, @nbPodium, @nbTop5, @nbTop10] %>

<% @labels = Resultat.joins(:event).where(pilote_id: @piloteId).pluck(:numero) %> 
<% @labels = @labels.sort { |a, b| b <=> a }.reverse %>

<% @data1 =  Resultat.joins(:event).where(pilote_id: @piloteId).pluck(:score).map!(&:to_i)  %> 


<% nbCourses = Resultat.nb_courses(@piloteId)  %>
<% scoreMoyen = Resultat.score_course_moyen(@piloteId) %> 
<% posCourseMoyen = number_with_precision(Resultat.pos_course_moyen(@piloteId), precision: 2) %>
<% posQualifMoyen = number_with_precision(Resultat.pos_qualif_moyen(@piloteId), precision: 2) %>

<% if posQualifMoyen.length < 2 %> <%# si retourne active record sans value, length tres long, sinon length 2 max%>
  <% posQualifMoyen = Resultat.pos_qualif_moyen(@piloteId) %> 
<% else %>
  <% posQualifMoyen = 20 %> <%# 20 par defaut %>
<% end %>

<% posCourseMoyen  %>
<% posQualifMoyen  %> 

<% diffQualifCourseMoyen = posQualifMoyen - Float(posCourseMoyen)   %> 

<% nbMt = Resultat.with_mt.nb_pilote(@piloteId ) %> 
<% nbDotd = Resultat.with_dotd.nb_pilote(@piloteId ) %> 
<% nbDnf = Resultat.with_dnf.nb_pilote(@piloteId ) %> 
<% nbDns = Resultat.with_dns.nb_pilote(@piloteId ) %> 

    <% piloteEcurie = Pilote.find(@piloteId).ecurie %> 
    <% @couleurEcurie = Equipe.find(piloteEcurie).couleurRgb %> 
    <% @couleurEcurie %> 

    <% @data2 = [nbCourses, scoreMoyen, posCourseMoyen.to_i, posQualifMoyen.to_i, diffQualifCourseMoyen.to_i, nbMt, nbDotd, nbDnf, nbDns] %> 

    <script>
   
      var couleurVictoire =  'rgb(233, 222, 61)';
      var couleurPodium = 'rgb(205, 127, 50)';
      var couleurTop5 =  'rgb(54, 162, 235)';
      var couleurTop10 =  'rgb(82, 189, 93)';

      var couleurNbCourse =  'rgb(21, 67, 96)';  
      var couleurPoints = 'rgb(241, 196, 15)';
      var couleurCourse =  'rgb(54, 162, 235)';
      var couleurQualif =  'rgb(195, 155, 211)';
      var couleurDiff =  'rgb(82, 189, 93)';
      var couleurMt = 'rgb(108, 52, 131)';
      var couleurDotd =  'rgb(54, 162, 235)';
      var couleurDnf =  'rgb(203, 67, 53)';
      var couleurDns =  'rgb(236, 112, 99)';

// CHART donut
    const data = {
      labels: ['Victoire', 'Podium', 'Top5', 'Top10'],
      datasets: [{
      
        data: <%= @data.to_json.html_safe %>,
        backgroundColor: [
          couleurVictoire, couleurPodium, couleurTop5, couleurTop10
        ],
       
        borderColor: [
          'rgba(0, 0, 0, 1)'
        ],
        hoverOffset: 40, 
        borderWidth: 2
      }]
    };

    // config 
    const config = {
      type: 'doughnut',
     
      data,
      options: {
          animation:{
            animateRotate: true,
            duration: 5000
         },
        scales: {
          y: {
            beginAtZero: true,
            display: false
          }
        }
      }
    };


    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

var labels = <%= @labels %>;
var labels = <%= @labels %>;
var data1 = <%= @data1 %>;


// CHART LINE
    const dataLine = {
      labels: labels,
      datasets: [{
        label: 'score',
        data:  data1,
        fill: false,
        backgroundColor: "<%= @couleurEcurie %>",
        borderColor: "<%= @couleurEcurie %>",

        borderWidth: 4
      }]
    };



    let delayed;

    const configLine = {
      type: 'line',
      data: dataLine,
      options: {
        aspectRatio: 1,

        animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                    delay = context.dataIndex * 2500  + context.datasetIndex * 100;
                    }
                    return delay;
                },
            },
           
            borderColor:"#308af3",
           /* pointBackgroundColor: "#308af3",*/
            pointBorderWidth: 10,
           /* pointHoverBackgroundColor: "#fff", */
            pointHoverBorderWidth: 20,
            lineTension: 0.4,

            scales: {
              y: {
                ticks: {
                  font: {
                    size: 16
                  },     
                },
              beginAtZero: true,
                title: {
                  display: true,
                  text: 'Points',
                  font: {
                    size: 18
                  },
                }
              },
              x: {
                ticks: {
                  font: {
                    size: 16
                  },  
                   /* callback: function(value, index, ticks) {
                        return 'GP ' + value ;*/
                },
                title: {
                  display: true,
                  text: 'GP',
                  font: {
                    size: 18
                  },
                }
              },
            }
          }
      };

    const myChartLine = new Chart(
      document.getElementById('myChartLine'),
      configLine
    );


// CHART BAR
    const dataBar = {
      labels: ['courses (nb)','points (moy)','pos. course (moy)','pos. qualif (moy)','diff. qualif course (moy)','MT (nb)', 'DOTD (nb)', 'DNF (nb)', 'DNS (nb)'],
      datasets: [{
      
        data: <%= @data2 %>,
        fill: true,
        backgroundColor: 'rgba(23, 32, 42, 0.2)',
        backgroundColor: [
          couleurNbCourse,
          couleurPoints,
          couleurCourse,
          couleurQualif,
          couleurDiff,
          couleurMt,
          couleurDotd,
          couleurDnf,
          couleurDns 
        ],
        borderColor: [
          'rgba(0, 0, 100, 1)'
        ],
        borderWidth: 3
      }]
    };

    const configBar = {
      type: 'bar',
      data: dataBar,
      options: {

        plugins: {
            legend: {
                display: false
            },
        },
        aspectRatio: 1,

        animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayed) {
                    delay = context.dataIndex * 2000  + context.datasetIndex * 10;
                    }
                    return delay;
                },
            },

            borderColor:"#308af3",
           /* pointBackgroundColor: "#308af3",*/
            pointBorderWidth: 10,
           /* pointHoverBackgroundColor: "#fff", */
            pointHoverBorderWidth: 20,
            lineTension: 0.4,

          }
      };

        // render init block
    const myChartBar = new Chart(
      document.getElementById('myChartBar'),
      configBar
    );
  

    </script>
