<div id="<%= dom_id pilote %>">

  <h5> Infos :</h5>
  <p>
    <strong>Nom:</strong>
    <%= pilote.nom %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= pilote.statut %>
  </p>
   <% pilote.ecurie %>

  <p>
    <strong>Ecurie:</strong>
   <%=  @equipe = Equipe.find(@pilote.ecurie).nom %> 

 <%# si pas d'ecurie selectionnée, image blank, sinon logo ecurie %>
    <% if pilote.ecurie.blank?%>
      <%= image_tag 'no-image.png', alt: 'icon', width: '200' %>
    <% else %>
      <%= image_tag Equipe.find(@pilote.ecurie).logo, style: "width: 400px; display: block", class: "img-fluid rounded" %> 
    <% end %>

  </p>

  <p>
    <strong>Division:</strong>
    <% divisionLiee =pilote.division_id %>
    <%= Division.find(divisionLiee).nom %>

  </p>

   <p>
    <strong>User lié:</strong>
     <%= User.find(pilote.user_id).full_name if pilote.user_id.present? %>
  </p>

  <hr>  

  <h5> Stats :</h5>

    <strong> Nb courses : </strong> <%= Resultat.nb_courses(pilote.id) %> <br> 

    <strong> Nb P1 : </strong> <%= Resultat.pilote_courant(pilote.id).compte_p1 %> <br> 
    <strong> Nb P2 : </strong> <%= Resultat.pilote_courant(pilote.id).compte_p2 %> <br>
    <strong> Nb P3 : </strong> <%= Resultat.pilote_courant(pilote.id).compte_p3 %> <br>



    <%# ajout  
      % podium
      % top 5
      % top 10
    %>

</div>

