<div id="<%= dom_id pilote %>">
  <p>
    <strong>Nom:</strong>
    <%= pilote.nom %>
  </p>
  <p>
    <strong>Statut:</strong>
    <%= pilote.statut %>
  </p>
   <% pilote.ecurie %>
  
    <strong>Ecurie:</strong>
    <%= @equipe = Equipe.find(@pilote.ecurie).nom %> 

    <table>
      <th>
          <% if pilote.ecurie.blank?%>
            <%= image_tag 'no-image.png', alt: 'icon', width: '100' %>
          <% else %>
            <%= image_tag Equipe.find(@pilote.ecurie).ecusson, style: "width: 100px; display: block", class: "img-fluid rounded" %> 
          <% end %>
      </th>

      <th>
          <% if pilote.ecurie.present?%>
            <% if Equipe.find(@pilote.ecurie).voiture.present? %>
              <%= image_tag Equipe.find(@pilote.ecurie).voiture, style: "width: 150px display: block", class: "img-fluid rounded" %> 
            <% end %>
          <% end %>
      </th>
    </table>

  <p>
    <strong>Division:</strong>
    <% divisionLiee = pilote.division_id %>
    <%= Division.find(divisionLiee).nom %>
  </p>


<% if current_user.admin? %>
   <p>
    <strong>User lié:</strong>
     <%= User.find(pilote.user_id).full_name if pilote.user_id.present? %>
  </p>
<% end %>


  <hr>  

  <% nbCourses = Resultat.nb_courses(pilote.id)  %>

  <% if nbCourses > 0 %>
    <h3> Stats </h3>

     <%= render "charts" %> 
      <br>

        <table class="table">
        <thead class="table-dark">
          <th> résultat </th>
          <th> nombre</th>
          <th> %</th>
        </thead>
          
        <tbody>
          <td>Victoire</td>
          <td>
            <% nbVictoire = Resultat.pilote_courant(pilote.id).compte_p1 %>
            <%= nbVictoire %> 
          </td>
          <td>
            <% pourcentageVictoire = Float(nbVictoire) / nbCourses * 100 %>
            <%= pourcentageVictoire.to_i %> %
          </td>
        </tbody>
        <tbody>
          <td>Podium</td>
          <td>
            <% nbPodium = Resultat.pilote_courant(pilote.id).compte_podium %>
            <%= nbPodium %> 
          </td>
          <td>
            <% pourcentagePodium = Float(nbPodium) / nbCourses * 100 %>
            <%= pourcentagePodium.to_i %> %  
          </td>
        </tbody>
        <tbody>
          <td>Top5</td>
          <td>
            <% nbTop5 = Resultat.pilote_courant(pilote.id).compte_top5 %>
            <%= nbTop5 %> 
          </td>
          <td>
            <% pourcentageTop5 = Float(nbTop5) / nbCourses * 100 %>
            <%= pourcentageTop5.to_i %> %  
          </td>  
        </tbody>
        <tbody>
            <td>Top10</td>
          <td>
            <% nbTop10 = Resultat.pilote_courant(pilote.id).compte_top10 %>
            <%= nbTop10 %> 
          </td>
          <td>
            <% pourcentageTop10 = Float(nbTop10) / nbCourses * 100 %>
            <%= pourcentageTop10.to_i %> %  
          </td> 
        </tbody>
        </table>
  

<% end %>

</div>

