<h1>Synthèse Licences </h1>

<%= render "shared/choixevent" %>

  <% if (@eventId).present? %>

    <%= render "shared/eventactif" %>

    <%# table des situation licences pilotes titulaires %>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
            <th>Titulaires</th>
            <th>Val départ</th>
            <th>perdus</th>
            <th>recupérés</th>
            <th>Solde</th>
            </tr>
        </thead>

            <tbody>
            <tr>
            <% @licencesFiltres.each_with_index do | licence, i| %>
            
                <td>
                <% if licence.pilote_id.present? %>
                    <%= Pilote.find(licence.pilote_id).nom  %>
                <% end %>  
                </td>
                
                <td style="text-align: center;">
                <%= @licencesValDepart %>
                </td>
                <td style="text-align: center;">
                    <%= licence.total_penalite %>
                </td>
                <td style="text-align: center;">
                    <%= licence.total_recupere %>
                </td>
                <td style="text-align: center;">
                <strong>
                    <%= @licencesValDepart.to_i - licence.total_penalite.to_i + licence.total_recupere.to_i %>
                </strong>
                </td>
                
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
  <% end %>