<div id="<%= dom_id rapport %>">
  <p>
    <strong>Event:</strong>
    <%= rapport.event_id %>
  </p>

  <p>
    <strong>Pilote1:</strong>
    <%= rapport.pilote1_id %>
  </p>

  <p>
    <strong>Pilote2:</strong>
    <%= rapport.pilote2_id %>
  </p>

  <p>
    <strong>Responsable:</strong>
    <%= rapport.responsable_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= rapport.article_id %>
  </p>

  <p>
    <strong>Penalitelicence:</strong>
    <%= rapport.penalitelicence %>
  </p>

  <p>
    <strong>Penalitetemps:</strong>
    <%= rapport.penalitetemps %>
  </p>

  <p>
    <strong>Commentaire:</strong>
    <%= rapport.commentaire %>
  </p>

</div>
